*{
    box-sizing: border-box;
}

@font-face {
    font-family: eurofurence;
    src: url(/fonts/eurofurence/eurof55.ttf);
}

@font-face {
    font-family: champange_limousines;
    src: url(/fonts/champagne_limousines/Champagne\ &\ Limousines.ttf);
}

@font-face {
    font-family: lato;
    src: url(/fonts/Lato/Lato-Regular.ttf);
}

canvas{
    margin-top: 10px;
    border: 3px solid;
}

.canvas-container{
    width: 90vw;
    height: auto;
    max-width: 450px;
    max-height: 450px;
}

.pressed{
    background-color: green;
}

.img-gallery{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto, 1fr);
}

.img-gallery img{
    height: 200px;
    width: 200px;
}
